body{
  height:550px;
}
.logos{
  width: 100px; 
  height: 65px ; 
  margin: 10px;
  display:flex;
}
.tabla{
  height:650px;
  width: 100%;
  display: flex;
  justify-content: center; 
}

table{
   border: solid 2px black;
   margin:20px;
}

th, td{
    text-align: center;
    border: solid 1px black;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.default{
 color: #ffbf00;
}

.azul{
  color:#0087ff;
}

.aumentar{
  width:60%;
}

#btn-cambiar-color, #btn-cambiar-tamanio{
  font-size: 20px;
  border: solid 1px black;
  margin-left:20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

footer{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: black;
  height:200px;
  text-align:center;
}

p{
  color:white;
  font-size: 20px;
  margin-top:10px;
}

.contenedor-principal{
  display: flex;
  justify-content: center;
  flex-flow: nowrap;
  flex-direction: column;  

}

.titulo{
  display: flex;
  justify-content: center;
  width: 100%; 

}

.contenedor-botones{
  display: flex;
  justify-content: center;
  width: 100%; 
 
}

